body {
	background: #00030e;
}

textarea {
	outline: none;
	border: none;
	outline-color: transparent;
  outline-style: none;
  display: block;
	position: absolute;

	width: 70%;
	height: 100%;
	left: 50%;
	margin-left: -35%;
	padding-top: 80px;
	padding-bottom: 80px;
  
	font-family: 'AtlasTypewriterLight', monospace;
	font-size: 13pt;
	line-height: 2em;
	letter-spacing: 1px;
	background: #00030e;
	color: #cacaca;	
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	
	textarea {
	
		position: relative;
		
		width: 88%;
		left: auto;
		margin: 0 auto;

		padding-top: 40px;
		
		font-size: 10pt;
	}
	
}