body {
	background: #00030e;
}

.wrt {
	outline: none;
	border: none;
	outline-color: transparent;
  outline-style: none;
  display: block;
	position: absolute;

	width: 70%;
	height: 100%;
	left: 50%;
	margin-left: -35%;
	padding-top: 80px;
	padding-bottom: 80px;
  
	font-family: 'AtlasTypewriterLight', 'Monaco', 'Courier', monospace;
	font-size: 13pt;
	line-height: 2em;
	letter-spacing: 1px;
	background: #00030e;
	color: #cacaca;	
	
	resize: none;
}

.saved {
	display: block;
	position: fixed;
	left: 20px;
	bottom: 10px;
	color: #fff;
	font-family: 'Arial Black', sans-serif;
	font-weight: bold;
	font-size: 1.5em;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	
	.wrt {
		position: relative;
		
		width: 88%;
		left: auto;
		margin: 0 auto;
		padding-top: 40px;
		
		font-size: 11pt;
	}

	.saved {
		top: 10px;
		left: auto;
		right: 10px;
		bottom: auto;
		
		font-family: 'Arial', sans-serif;
		font-size: 1em;
		font-weight: normal;
	}
	
}